body {
    margin: 0;
    padding: 0;
    outline: none;
    color: #ffffff;
    background-color: #262626;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 1280px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #ffff00;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.box:hover .imgBox img {
    transform: scale(1.2);
}
.box:hover .details {
    transform: scaleY(1);
}

.imgBox {
    position: relative;
    overflow: hidden;
}

.imgBox img {
    width: 100%;
    transition: transform 2s;
}

.details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #ffffff;
}

.content h2 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 20px;
    color: #ffff00;
}
.content p {
    margin: 0;
    padding: 0;
}
